<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<th:block th:include="layout/layout::common-css"></th:block>
<th:block th:include="layout/layout::common-scripts"></th:block>
<title th:text="#{COM.TITLE.UNEXPECTED_ERROR}"></title>
</head>

<body>
	<div class="container" style="height:100%">
		<div class="row" style="margin-top: 50px;">
			<div class="col-sm-8 col-sm-offset-2" style="padding-top:40px;padding-bottom: 60px;">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1><b th:text="#{COM.TITLE.UNEXPECTED_ERROR}"></b></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<h5 th:inline="text">[[#{COM.MSG.PLEASE_CONTACT_ENGINEER}]]<br/><br/></h5>
					</div>
				</div>
				<div class="row" style="margin-top:50px">
					<div class="col-xs-offset-4 col-xs-4 text-center">
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="doGet('/login-redirect')" th:inline="text">
							<i class="fa fa-tachometer"></i> [[#{COM.LBL.GOBACK}]]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>