<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>bloodnet</display-name>

	<!-- Welcome File -->
<!-- 	
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list> 
-->

	<session-config>
		<!-- セッションのタイムアウト時間 minutes-->
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>400</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
	<error-page>
		<error-code>506</error-code>
		<location>/error/unexpected-error</location>
	</error-page>
</web-app>
